[submodule "reference/ui-ux-pro-max-skill"]
	path = reference/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "reference/shadcn-ui"]
	path = reference/shadcn-ui
	url = https://github.com/shadcn-ui/ui.git
[submodule "reference/awesome-design-systems"]
	path = reference/awesome-design-systems
	url = https://github.com/alexpate/awesome-design-systems.git
[submodule "reference/owasp-asvs"]
	path = reference/owasp-asvs
	url = https://github.com/OWASP/ASVS.git
[submodule "reference/owasp-zap"]
	path = reference/owasp-zap
	url = https://github.com/zaproxy/zaproxy.git
[submodule "reference/semgrep"]
	path = reference/semgrep
	url = https://github.com/semgrep/semgrep.git
[submodule "reference/playwright"]
	path = reference/playwright
	url = https://github.com/microsoft/playwright.git
[submodule "reference/shadcn-admin"]
	path = reference/shadcn-admin
	url = https://github.com/satnaing/shadcn-admin.git
[submodule "reference/shadcn-admin-kit"]
	path = reference/shadcn-admin-kit
	url = https://github.com/marmelab/shadcn-admin-kit.git
[submodule "reference/tremor"]
	path = reference/tremor
	url = https://github.com/tremorlabs/tremor.git
[submodule "reference/tailadmin"]
	path = reference/tailadmin
	url = https://github.com/TailAdmin/free-react-tailwind-admin-dashboard.git
